.contacts {
  max-width: 208px;
  text-align: center;
}

.contacts__phone {
  font-size: 24px;
  line-height: calc(28 / 24);
}

.contacts__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .contacts {
    max-width: 186px;
  }

  .contacts__phone {
    font-size: 21px;
    line-height: calc(25 / 21);
  }

  .contacts__text {
    font-size: 13px;
    line-height: calc(15 / 13);
  }
}

@media (max-width: 320px) {
  .contacts {
    display: none;
  }
}
