.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2F324B;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  gap: 19px;
  align-items: center;
}

.footer__text {
  max-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(17 / 12);
}

.footer__author {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(17 / 12);
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 37px;
    padding-bottom: 49px;
  }

  .footer__letter {
    display: none;
  }
}

@media (max-width: 685px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 15px;
    background-image: linear-gradient(#2F324B 0% 63%, #2A2C3F 63% 100%);
  }

  .footer__container {
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 87px;
  }

  .footer__text {
    max-width: 88px;
    font-size: 8px;
    line-height: calc(11 / 8);
  }

  .footer__author {
    order: 2;
    width: 100%;
    text-align: center;
    opacity: 0.5;
  }

}
